*{box-sizing: border-box; margin: 0; padding: 0;}

:root{
    --background-notas: #ecedf1;
    --background-yellon: #f9d230;
    --tittle-yellow: #ffd300;
    --title: #000000;
    --title-white: #ffffff;
    --tittle-gray: #5D5D5D;
    --sub-tittle-gray: #818181;
    --tittle-dark-red: #ff4e3b;
    --tittle-green: #4CCDAF;
    --tittle-blue: #33BCFF;
    --text-white: #fff;
    --text-blue: #266ccd;
    --paragraph:#000;
    --paragraph-white: #fff;
    --paragraph-01: #0000;
    --paragraph-gray: #5D5D5D;
    --paragraph-blue: #4C92FF;
    --paragraph-yellow: #ffd300;
    --blue-gradient: linear-gradient(0deg,#959fff,#3f94ff);
    --green-gradient: linear-gradient(0deg,#81d8b0,#02bfae);
    --red-gradient: linear-gradient(0deg,#ff7260,#ff210e);
}

@font-face {font-family: CamphorProForXiaoMi-Regular; src: url(../css/fonts/CamphorProForXiaoMi-Regular.woff) format("woff")}
@font-face {font-family: CamphorProForXiaoMi-Bold; font-weight: 700; src: url(../css/fonts/CamphorProForXiaoMi-Bold.woff) format("woff")}
@font-face {font-family: CamphorProForXiaoMi-Thin; src: url(./fonts/CamphorProForXiaoMi-Thin.woff) format("woff")}
@font-face {font-family: CamphorProForXiaoMi-Heavy; font-weight: 900; src: url(./fonts/CamphorProForXiaoMi-Heavy.woff) format("woff")}
@font-face {font-family: CamphorProForXiaoMi-Medium; src: url(./fonts/CamphorProForXiaoMi-Medium.woff) format("woff")}

.f-heavy {font-family: CamphorProForXiaoMi-Heavy, sans-serif; font-weight: 900}
.f-regular {font-family: CamphorProForXiaoMi-Regular, sans-serif}
.f-light {font-family: CamphorProForXiaoMi-Light, sans-serif}
.f-bold {font-family: CamphorProForXiaoMi-Bold, sans-serif; font-weight: 700}
.f-medium {font-family: CamphorProForXiaoMi-Medium, sans-serif}
.f-thin {font-family: CamphorProForXiaoMi-Thin, sans-serif}

@media screen and (min-width:1024px) {main{display: none;}}

@media screen and (min-width:760px) and (max-width:1023px) {main{display: none;}}

@media screen  and (max-width:768px) {

    a:link {text-decoration: none;} 

    .root-xiaomi-strap-mi-brand-7 {overflow: hidden; width: 100%;}

    .main-title_xiaomi-strap-mi-brand-7-01 {font-size: 1.8rem; color: var(--title); text-align: center; margin: 2rem;}
    .sub-title_xiaomi-strap-mi-brand-7-01 {font-size: 1rem; color: var(--title); line-height: 1.5rem; text-align: center; margin: 1rem 2rem 1rem 2rem;}

    .title_xiaomi-strap-mi-brand-7-01 {font-size: 2rem; color: var(--title); text-align: center; margin: 1rem 1rem 0rem 1rem;}
    .sub-title_xiaomi-strap-mi-brand-7-02 {font-size: 1rem; color: var(--title); line-height: 1.5rem; text-align: center; margin: 1rem 1rem 0rem 1rem;}
    .text_xiaomi-strap-mi-brand-7-01 {font-size: 1rem; color: var(--tittle-gray); line-height: 1.5rem; text-align: center; margin: 1rem 1rem 0rem 1rem;}



    .notes_xiaomi-strap-mi-brand-7 {font-size: 0.8rem; line-height: 1.6rem; color: var(--tittle-gray); text-align: left; margin: 0.5rem 1rem 0rem 1rem; padding: 0rem 1rem 0rem 1rem;} 

    .text_xiaomi-strap-mi-brand-7-specs-03 {font-size: 0.8rem; color: var(--text-white); text-align: center; margin: 0.8rem;}

    /*==================================================== GRID ========================================================*/

    .grid_text {
        margin: 2rem;
    }

    /*======================================================= LAYOUT =======================================================*/

    .bg_01 {
        height: 16rem;
        background-image: url(../media/Overview_M1080_01.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        flex-direction: column;
    }

    .bg_02 {
        display: flex;
        justify-content: center;
    }

    .bg_02-01 {
        display: grid;
        align-content: center;
        justify-content: center;
        align-items: center;
        justify-items: center;
        grid-template-columns: 1fr 1fr;
        align-self: center;
        gap: 0.5rem;
        max-width: 18rem;
        margin: 2rem 0rem 0.5rem 0rem;
    }

    .bg_03 {
        height: 38rem;
        background-image: url(../media/Overview_M1080_03.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        display: flex;
        align-items: center;
        align-content: center;
        justify-content: flex-end;
        flex-wrap: nowrap;
        flex-direction: column;
        margin-bottom: 0.5rem;
    }

    .bg_03-01 {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-content: space-around;
        justify-content: center;
        align-items: center;
        max-width: 18rem;
        margin-bottom: 5rem;
    }

    .bg_04 {
        height: 38rem;
        background-image: url(../media/Overview_M1080_04.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        display: flex;
        align-items: center;
        align-content: center;
        justify-content: flex-end;
        flex-wrap: nowrap;
        flex-direction: column;
        margin-bottom: 0.5rem;
    }

    .bg_04-01 {
        display: flex;
        max-width: 18rem;
        flex-direction: column;
        margin-bottom: 7rem;
    }

    .bg_05 {
        height: 38rem;
        background-image: url(../media/Overview_M1080_05.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        display: flex;
        align-items: center;
        align-content: center;
        justify-content: flex-end;
        flex-wrap: nowrap;
        flex-direction: column;
        margin-bottom: 0.5rem;
    }

    .bg_05-01 {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-content: space-around;
        justify-content: center;
        align-items: center;
        max-width: 18rem;
        margin-bottom: 3rem;
    }

    .bg_06 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .bg_07-01 {
        height: 12rem;
        background-image: url(../media/Overview_M1080_07-01.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        display: flex;
        flex-direction: column;
    }

    .bg_07-02 {
        height: 12rem;
        background-image: url(../media/Overview_M1080_07-02.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        display: flex;
        flex-direction: column;
    }

    .bg_07 {
        height: 18rem;
        background-image: url(../media/Overview_M1080_09.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        display: flex;
        flex-direction: column;
    }
    
    .bg_08 {
        height: 10rem;
        background-image: url(../media/Overview_M1080_10.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        display: flex;
        flex-direction: column;
    }

}
